<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Графік платежів</title>
  </head>
  <body>
    <table border='1'>
      <caption>Графік платежів</caption>
      <tr>
        <th>погашення кредиту</th>
        <% @result.payment.each do |p| %>
          <td><%= p.round(2) %></td>
        <% end %>
      </tr>
      <tr>
        <th>погашення %</th>
        <% @result.month_percent.each do |p| %>
          <td><%= p.round(2) %></td>
        <% end %>
      </tr>
      <tr>
        <th>загальний внесок</th>
        <% @result.all_payment.each do |p| %>
          <td><%= p.round(2) %></td>
        <% end %>
      </tr>
      <tr>
        <th>залишок кредиту</th>
        <% @result.credit.each do |p| %>
          <td><%= p.round(2) %></td>
        <% end %>
      </tr>
    </table>
  </body>
</html>
